.noselect {
  -webkit-touch-callout: none; /* iOS Safari */
    -webkit-user-select: none; /* Safari */
     -khtml-user-select: none; /* Konqueror HTML */
       -moz-user-select: none; /* Firefox */
        -ms-user-select: none; /* Internet Explorer/Edge */
            user-select: none; /* Non-prefixed version, currently
                                  supported by Chrome and Opera */
}

body {
  font-family: Helvetica, sans-serif;
  font-size: 12px;
  background-color: #555;
  display: flex;
  align-items: center;
  justify-content: center;
  margin: 0;
  padding: 0;
  overflow: hidden;
}

#container {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  flex: 0 0 1000px; /* width */
  padding-top: 50px;
}

#header {
  background-color: #999;
  flex: 0 0 50px; /* height */
  width: 100%;
}

#main {
  background-color: #000;
  flex: 0 0 750px; /* height */
  width: 100%;
}

#message {
  font-size: 66px;
  color: #fff;
  text-align: center;

  position: absolute;
  height: 200px;
  width: 750px;
  /*padding-top: 200px;*/
  padding-top: 150px;

  opacity: 1;
  transition: 2s opacity;
}

#message.fade {
  opacity: 0;
  transition: none;
}

#message.fade > #playAgain {
  display: none;
}

#playAgain {
  padding-top: 10px;
  font-size: 24px;
}

#playAgain > a:hover {
  color: #ccc;
  cursor: pointer;
}
